{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-4">Connexion</h2>

        {# Affichage des messages Flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <form method="post">
            {# Affichage des erreurs de connexion #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# Message si déjà connecté #}
            {% if app.user %}
                <div class="mb-3 alert alert-info">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>.
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword" class="form-label">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
            </div>

            <button type="submit" class="btn btn-primary"> Se connecter</button>

            <p class="mt-3">
                Pas encore de compte ? 
                <a href="{{ path('app_register') }}">S'inscrire</a>
            </p>
            
        </form>
    </div>
{% endblock %}
