{% extends 'base.html.twig' %}

{% block title %}Aide & Tickets{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Objet</th>
            <th>Description</th>
            <th>Statut</th>
            <th>Utilisateur</th> {# Ajout de la colonne email #}
            <th>Date Création</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.objetTicket }}</td>
                <td>{{ ticket.descriptionTicket }}</td>
                <td>{{ ticket.statusTicket }}</td>
                {# <td>{{ ticket.utilisateur.email }}</td> Affichage de l'email #}
                <td>{{ ticket.dateCreationTicket|date('d/m/Y H:i') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
